adamp
matplotlib==3.5.1
numpy==1.22.2
pandas==1.4.0
PyYAML==6.0
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
tabulate==0.8.10
termcolor==1.1.0
torch==1.12.0
torch-optimizer==0.3.0
torchtext==0.6.0
torchvision==0.13.0